body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#root {
  width: 100%;
  height: 100%;
}
.firstLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.wideBanner {
  width: 100%;
}
#firstBanner {
  position: static;
  background-color: white;
}
#secondBanner {
  padding: 15px 0;
  background-color: linen;
}
.arrow_img {
  width: 25px;
}
.content_center {
  display: flex;
  justify-content: center;
}
.direction_col {
  display: flex;
  flex-direction: column;
}
.item_container {
  width: 1000px;
  display: flex;
  overflow: hidden;
}
.item {
  height: 300px;
  padding: 10px;
}
.img_box {
  width: 145px;
  height: 75%;
  position: relative;
}
.img_box img {
  box-shadow: 1px 1px 2px 2px gray;
  width: 145px;
  position: absolute;
  bottom: 0;
}
.book_info {
  margin-top: 7px;
}
.book_title {
  width: 145px;
  font-weight: bolder;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.author_info {
  width: 145px;
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.title_case {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
#secondBannerTitle {
  margin: 0px;
}
