.mainbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-left: 300px;
}

.logoutbtn {
  border-radius: 10px;
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  margin-right: 30px;
  margin-right: 300px;
}

.mybook {
  background-color: white;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  border-color: black;

  margin-left: 50px;
}

.bookdetail_main {
  margin-left: 300px;
  margin-right: 300px;
}

.bookdetail {
  display: flex;
  padding-top: 50px;
  border-style: solid;
  border-color: beige;
  padding-left: 30px;
  padding-bottom: 20px;
}

.bookname_title {
  margin-top: 0px;
  margin-left: 50px;
}

.book_info {
  width: 1280px;
  height: 150px;
  border-style: solid;
  border-color: beige;
}

.bookdetail-info {
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.buttondetail {
  background-color: white;
  border-color: white;
  color: blue;
  font-size: 15px;
}

.book_review {
  border-style: solid;
  width: 1280px;
  height: 340px;
  border-color: black;
}

.book_review_side {
  margin-left: 10px;
  margin-right: 10px;
}
